:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color-light: #F1B2CE;
  --text-color-dark: #000028;
  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-menu-color: #FF0070;
  --menu-border-color: rgba(225 0 112 / 0.4);
}

.theme-dark .rec-sign::after,
.theme-dark .rec-sign::before {
  display: flex;
}

.theme-dark .page {
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-color: var(--bg-color, #000028);
}

@media (width >= 768px) {
 
  .theme-dark .rec-sign::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .theme-dark .rec-sign::after {
    inset-inline-end: 28px;
    inset-block-start: 27px;
  }
}
