:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color-light: #353430;
  --text-color-dark: #353430;
  --accent-color: #FF8DCB;
  --content-title: #353430;
  --main-title-color: #FFC2E6;
  --title-menu-color: #353430;
  --menu-border-color: rgba(50 49 45 / 0.4);
}

.theme-light .rec-sign::after,
.theme-light .rec-sign::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color-light: #353430;
    --text-color-dark: #353430;
    --accent-color: #FF8DCB;
    --content-title: #353430;
    --main-title-color: #FFC2E6;
    --title-menu-color: #353430;
    --menu-border-color: rgba(50 49 45 / 0.4);
  }

  .rec-sign::after,
  .rec-sign::before {
    display: none;
  }
}


